<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0;
    padding:0;
}
.container{
    min-height:100vh;
    background-color:#e1e3ef;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    height:380px;
    width:320px;
    border-radius:10px;
    background-color:#009999;
    padding:20px;
    font-family: 'Poppins', sans-serif;
}
.top-row{
    color:#fff;
}
.top-row p{
    padding-bottom:20px;
}
.card-details{
    position:relative;
    display:flex;

    padding-bottom:20px;
}
.card-details input{
    height:50px;
    width:100%;
    font-size:18px;
    caret-color:white;
    background-color:#fff;
    color:black;
    padding:0px 20px;
    padding-left:50px;
    box-sizing:border-box;
    border-radius:10px;
    outline:none;
    border:none;
}
.card-details i{
    position:absolute;
    left:10px;
    top:16px;
    color:#ffe4be;
    font-size:18px;
}
.card-details span{
    position:absolute;
    width:20px;
    height:20px;
    background-color:#fff;
    border-radius:50%;
    color:#ffe4be;
    font-size:10px;
    color:#000;
    right:10px;
    top:15px;
    opacity:0.4;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.card-details span:hover{
    opacity:1;
}
.forget{
    color:#fff;
    margin-bottom:13px;
}
.sign-in{
   display:flex;
   justify-content:center;
   align-items:center;
    height:60px;
    width:100%;
    font-size:17px;
    color:white;
    border-radius:10px;
    background-color:#003333;
    font-weight:600;
    cursor:pointer;
    transition:all 0.5s;
    border:none;
}
.sign-in:hover{
    background-color:#1affff;
    color:black;

}
.sign-up{
    margin-top:30px;
    color:#ccc;
}
.sign-up a{
    color:#fff;
    text-decoration:none;
    transition:all 0.5s;
}
.sign-up a:hover{
    color:black;
}

.warning{
    border:2px solid red !important;
}
</style>
<div class="container">
    <div class="card">
        <div class="top-row">
            <h1>Reset Password</h1>
            <p>Change your password</p>
        </div>
        <div class="card-details">
            <form method="post" action="{% url 'reset-password' %}">
                {% csrf_token %}
            <input type="password" placeholder="enter your password" name="password">
                <input type="hidden" value="{{ email }}" name="email">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="card-details">
            <input type="password" id="password-input" placeholder="confirm password" name="confirm_password">
            <i class="fa fa-lock"></i>
            <span><small class="fa fa-eye-slash passcode"></small></span>
        </div>
<!--           <p class="forget">Forgot your password?</p>-->

               <button type="submit" class="sign-in">Sign in</button>

           <p class="sign-up" style="color:white;">Got password?<a href="{% url 'employee_login' %}"> Login</a></p>
</form>
    </div>
</div>