{% load static %}
<!--<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css" />-->
<!--<script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
  <script src="YourJquery source path"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>






  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">






  <!------ Include the above in your HEAD tag ---------->


  <!------ Include the above in your HEAD tag ---------->









<!------ Include the above in your HEAD tag ---------->

<style>


    nav {
  margin: 27px auto 0;

  position: relative;
  width: 550px;
  height: 50px;
  background-color: #00b386;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 100px;
}
a:nth-child(3) {
  width: 140px;
}
a:nth-child(4) {
  width: 100px;
}
a:nth-child(5) {
  width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 120px;
  left: 210px;
  background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 100px;
  left: 335px;
  background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 100px;
  left: 430px;
  background-color: #e67e22;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #2c3e50;
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}




.box{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 140px;
    height: 50px;
    background: none;
    border: 4px solid #00b386;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: white;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 200px;
    background: #34495e;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
</style>

<body>

<nav>
  <nav>
    <a href="{% url 'admin' %}">Home</a>
    <a href="{% url 'create_user' %}">Add user</a>

    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'employee_chat' %}" style="">
    <i class="fab fa-facebook-messenger" style="color:white; font-size:20px; font-samily:'Poppins', sans-serif; margin-right:55px;"></i>Chat</a>
    <div class="animation start-home"></div>
    </nav>


    <div class="box" style="">
        <form name="search" action="{% url 'elastic_search' %}">
            <input type="text" class="input" name="q" placeholder=""
            onmouseout="document.search.txt.value = ''">
        </form>
            <i class="fas fa-search" style="font-size:24px; color:white;"></i>
    </div>

</nav>

<body>
{% block content %}

<!------ Include the above in your HEAD tag ---------->
<style>
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
section{
    float:left;
    width:100%;
    background: #black;  /* fallback for old browsers */
    padding:20px 0;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}


.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:340px;
  border:none;
  border-radius:20px;
  margin-bottom:30px;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

</style>


                    {% if messages %}
               {% for msg in messages %}
                <h4 style="color:white; margin-left:40%;">{{msg}}</h4>

               {% endfor %}
            {% endif %}

<section>
    <div class="container" style="margin-top:40px;">
    	<div class="row">
            {% for i in post_list %}
            {% if not i.is_superuser %}
            <a href="{% url 'user_profile' i.pk %}">
	<div class="col-md-3">

    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="{% static "bg.jpeg" %}" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="{{ i.profile_pic.url }}" alt="profile-image" class="profile" />
    		        </div>
    		        <div class="card-content">
                    <h2>{{ i.first_name }}<small>{{ i.designation }} </small> <small style="">{{i.department}}</small></h2>

                    </div>
                </div>

    		</div>
                </a>
            {% endif %}
{% endfor %}
        </div>
    </div>
</section>

{% endblock %}
</body>

<script>


</script>